<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Easy Manager</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="css/base.css" rel="stylesheet" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js"></script>
  </head>

  <body>
    <div class="contenedor espacio">
      <form method="post" action="/addUser">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="first_name">Nombre:</label>
            <input id="first_name" name="first_name" class="form-control" type="text">
          </div>
          <div class="form-group col-md-6">
            <label for="last_name">Apellido:</label>
            <input id="last_name" name="last_name" class="form-control" type="text">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="username">Nombre de usuario:</label>
            <input id="username" name="username" class="form-control" type="text">
          </div>
          <div class="form-group col-md-4">
            <label for="password">Contraseña:</label>
            <input id="password" name="password" class="form-control" type="password">
          </div>
          <div class="form-group col-md-4">
            <label for="role">Rol:</label>
            <select id="role" name="role" class="form-control">
              <option value="administrador">Administrador</option>
              <option value="sub_administrador">Sub adminstrador</option>
              <option value="almacen">Almacen</option>
              <option value="empleado">Empleado</option>
            </select>
          </div>
        </div>
        <!-- Boton -->
        <div class="form-group">
          <input class="btn btn-primary col-md-12" type="submit" value="Registrar">
        </div>
      </form>
    </div>
    <div>
      <!-- tabla de datos -->
    </div>
  </body>
</html>